/*******ANIMS****/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Kristi");
@-webkit-keyframes normalPulse {
  0%, 100% {
    -webkit-transform: scale(1); }
  66% {
    -webkit-transform: scale(1.04); } }

@-moz-keyframes normalPulse {
  0%, 100% {
    -moz-transform: scale(1); }
  66% {
    -moz-transform: scale(1.04); } }

@-o-keyframes normalPulse {
  0%, 100% {
    -o-transform: scale(1); }
  66% {
    -o-transform: scale(1.04); } }

@keyframes normalPulse {
  0%, 100% {
    transform: scale(1); }
  66% {
    transform: scale(1.04); } }

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(1) translateX(-50%); }
  66% {
    -webkit-transform: scale(1.04) translateX(-50%); } }

@-moz-keyframes pulse {
  0%, 100% {
    -moz-transform: scale(1) translateX(-50%); }
  66% {
    -moz-transform: scale(1.04) translateX(-50%); } }

@-o-keyframes pulse {
  0%, 100% {
    -o-transform: scale(1) translateX(-50%); }
  66% {
    -o-transform: scale(1.04) translateX(-50%); } }

@keyframes pulse {
  0%, 100% {
    transform: scale(1) translateX(-50%); }
  66% {
    transform: scale(1.04) translateX(-50%); } }

@-webkit-keyframes pulseX {
  0%, 100% {
    -webkit-transform: scale(1) translateX(-50%); }
  66% {
    -webkit-transform: scale(1.02) translateX(-50%); } }

@-moz-keyframes pulseX {
  0%, 100% {
    -moz-transform: scale(1) translateX(-50%); }
  66% {
    -moz-transform: scale(1.02) translateX(-50%); } }

@-o-keyframes pulseX {
  0%, 100% {
    -o-transform: scale(1) translateX(-50%); }
  66% {
    -o-transform: scale(1.02) translateX(-50%); } }

@keyframes pulseX {
  0%, 100% {
    transform: scale(1) translateX(-50%); }
  66% {
    transform: scale(1.02) translateX(-50%); } }

@-webkit-keyframes pulseY {
  0%, 100% {
    -webkit-transform: scale(1) translateY(-50%); }
  66% {
    -webkit-transform: scale(1.02) translateY(-50%); } }

@-moz-keyframes pulseY {
  0%, 100% {
    -moz-transform: scale(1) translateY(-50%); }
  66% {
    -moz-transform: scale(1.02) translateY(-50%); } }

@-o-keyframes pulseY {
  0%, 100% {
    -o-transform: scale(1) translateY(-50%); }
  66% {
    -o-transform: scale(1.02) translateY(-50%); } }

@keyframes pulseY {
  0%, 100% {
    transform: scale(1) translateY(-50%); }
  66% {
    transform: scale(1.02) translateY(-50%); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg); } }

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes slideInFromTop {
  0% {
    top: -35px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes triangleSlideIn {
  0% {
    bottom: 1rem;
    opacity: 0;
    font-size: 2rem; }
  100% {
    bottom: -2rem;
    opacity: 1;
    font-size: 3rem; } }

/**SPACINGS****/
.mt0 {
  margin-top: 0px; }

.mb0 {
  margin-bottom: 0px; }

.ml0 {
  margin-left: 0px; }

.mr0 {
  margin-right: 0px; }

.pt0 {
  padding-top: 0px; }

.pb0 {
  padding-bottom: 0px !important; }

.pr0 {
  padding-right: 0px; }

.pl0 {
  padding-left: 0px !important; }

.mt1 {
  margin-top: 10px; }

.mb1 {
  margin-bottom: 10px; }

.ml1 {
  margin-left: 10px; }

.mr1 {
  margin-right: 10px; }

.pt1 {
  padding-top: 10px; }

.pb1 {
  padding-bottom: 10px !important; }

.pr1 {
  padding-right: 10px; }

.pl1 {
  padding-left: 10px !important; }

.mt2 {
  margin-top: 20px; }

.mb2 {
  margin-bottom: 20px; }

.ml2 {
  margin-left: 20px; }

.mr2 {
  margin-right: 20px; }

.pt2 {
  padding-top: 20px; }

.pb2 {
  padding-bottom: 20px !important; }

.pr2 {
  padding-right: 20px; }

.pl2 {
  padding-left: 20px !important; }

.mt3 {
  margin-top: 30px; }

.mb3 {
  margin-bottom: 30px; }

.ml3 {
  margin-left: 30px; }

.mr3 {
  margin-right: 30px; }

.pt3 {
  padding-top: 30px; }

.pb3 {
  padding-bottom: 30px !important; }

.pr3 {
  padding-right: 30px; }

.pl3 {
  padding-left: 30px !important; }

.mt4 {
  margin-top: 40px; }

.mb4 {
  margin-bottom: 40px; }

.ml4 {
  margin-left: 40px; }

.mr4 {
  margin-right: 40px; }

.pt4 {
  padding-top: 40px; }

.pb4 {
  padding-bottom: 40px !important; }

.pr4 {
  padding-right: 40px; }

.pl4 {
  padding-left: 40px !important; }

.mt5 {
  margin-top: 50px; }

.mb5 {
  margin-bottom: 50px; }

.ml5 {
  margin-left: 50px; }

.mr5 {
  margin-right: 50px; }

.pt5 {
  padding-top: 50px; }

.pb5 {
  padding-bottom: 50px !important; }

.pr5 {
  padding-right: 50px; }

.pl5 {
  padding-left: 50px !important; }

.mt6 {
  margin-top: 60px; }

.mb6 {
  margin-bottom: 60px; }

.ml6 {
  margin-left: 60px; }

.mr6 {
  margin-right: 60px; }

.pt6 {
  padding-top: 60px; }

.pb6 {
  padding-bottom: 60px !important; }

.pr6 {
  padding-right: 60px; }

.pl6 {
  padding-left: 60px !important; }

.mt7 {
  margin-top: 70px; }

.mb7 {
  margin-bottom: 70px; }

.ml7 {
  margin-left: 70px; }

.mr7 {
  margin-right: 70px; }

.pt7 {
  padding-top: 70px; }

.pb7 {
  padding-bottom: 70px !important; }

.pr7 {
  padding-right: 70px; }

.pl7 {
  padding-left: 70px !important; }

.mt8 {
  margin-top: 80px; }

.mb8 {
  margin-bottom: 80px; }

.ml8 {
  margin-left: 80px; }

.mr8 {
  margin-right: 80px; }

.pt8 {
  padding-top: 80px; }

.pb8 {
  padding-bottom: 80px !important; }

.pr8 {
  padding-right: 80px; }

.pl8 {
  padding-left: 80px !important; }

.mt9 {
  margin-top: 90px; }

.mb9 {
  margin-bottom: 90px; }

.ml9 {
  margin-left: 90px; }

.mr9 {
  margin-right: 90px; }

.pt9 {
  padding-top: 90px; }

.pb9 {
  padding-bottom: 90px !important; }

.pr9 {
  padding-right: 90px; }

.pl9 {
  padding-left: 90px !important; }

.mt10 {
  margin-top: 100px; }

.mb10 {
  margin-bottom: 100px; }

.ml10 {
  margin-left: 100px; }

.mr10 {
  margin-right: 100px; }

.pt10 {
  padding-top: 100px; }

.pb10 {
  padding-bottom: 100px !important; }

.pr10 {
  padding-right: 100px; }

.pl10 {
  padding-left: 100px !important; }

.mt11 {
  margin-top: 110px; }

.mb11 {
  margin-bottom: 110px; }

.ml11 {
  margin-left: 110px; }

.mr11 {
  margin-right: 110px; }

.pt11 {
  padding-top: 110px; }

.pb11 {
  padding-bottom: 110px !important; }

.pr11 {
  padding-right: 110px; }

.pl11 {
  padding-left: 110px !important; }

.mt12 {
  margin-top: 120px; }

.mb12 {
  margin-bottom: 120px; }

.ml12 {
  margin-left: 120px; }

.mr12 {
  margin-right: 120px; }

.pt12 {
  padding-top: 120px; }

.pb12 {
  padding-bottom: 120px !important; }

.pr12 {
  padding-right: 120px; }

.pl12 {
  padding-left: 120px !important; }

.mt13 {
  margin-top: 130px; }

.mb13 {
  margin-bottom: 130px; }

.ml13 {
  margin-left: 130px; }

.mr13 {
  margin-right: 130px; }

.pt13 {
  padding-top: 130px; }

.pb13 {
  padding-bottom: 130px !important; }

.pr13 {
  padding-right: 130px; }

.pl13 {
  padding-left: 130px !important; }

.mt14 {
  margin-top: 140px; }

.mb14 {
  margin-bottom: 140px; }

.ml14 {
  margin-left: 140px; }

.mr14 {
  margin-right: 140px; }

.pt14 {
  padding-top: 140px; }

.pb14 {
  padding-bottom: 140px !important; }

.pr14 {
  padding-right: 140px; }

.pl14 {
  padding-left: 140px !important; }

.mt15 {
  margin-top: 150px; }

.mb15 {
  margin-bottom: 150px; }

.ml15 {
  margin-left: 150px; }

.mr15 {
  margin-right: 150px; }

.pt15 {
  padding-top: 150px; }

.pb15 {
  padding-bottom: 150px !important; }

.pr15 {
  padding-right: 150px; }

.pl15 {
  padding-left: 150px !important; }

.mt16 {
  margin-top: 160px; }

.mb16 {
  margin-bottom: 160px; }

.ml16 {
  margin-left: 160px; }

.mr16 {
  margin-right: 160px; }

.pt16 {
  padding-top: 160px; }

.pb16 {
  padding-bottom: 160px !important; }

.pr16 {
  padding-right: 160px; }

.pl16 {
  padding-left: 160px !important; }

.mt17 {
  margin-top: 170px; }

.mb17 {
  margin-bottom: 170px; }

.ml17 {
  margin-left: 170px; }

.mr17 {
  margin-right: 170px; }

.pt17 {
  padding-top: 170px; }

.pb17 {
  padding-bottom: 170px !important; }

.pr17 {
  padding-right: 170px; }

.pl17 {
  padding-left: 170px !important; }

.mt18 {
  margin-top: 180px; }

.mb18 {
  margin-bottom: 180px; }

.ml18 {
  margin-left: 180px; }

.mr18 {
  margin-right: 180px; }

.pt18 {
  padding-top: 180px; }

.pb18 {
  padding-bottom: 180px !important; }

.pr18 {
  padding-right: 180px; }

.pl18 {
  padding-left: 180px !important; }

.mt19 {
  margin-top: 190px; }

.mb19 {
  margin-bottom: 190px; }

.ml19 {
  margin-left: 190px; }

.mr19 {
  margin-right: 190px; }

.pt19 {
  padding-top: 190px; }

.pb19 {
  padding-bottom: 190px !important; }

.pr19 {
  padding-right: 190px; }

.pl19 {
  padding-left: 190px !important; }

.mt20 {
  margin-top: 200px; }

.mb20 {
  margin-bottom: 200px; }

.ml20 {
  margin-left: 200px; }

.mr20 {
  margin-right: 200px; }

.pt20 {
  padding-top: 200px; }

.pb20 {
  padding-bottom: 200px !important; }

.pr20 {
  padding-right: 200px; }

.pl20 {
  padding-left: 200px !important; }

/***COLORS***/
.primary-color {
  color: #d50b82; }

.secondary-color {
  color: #52227b; }

.white-color {
  color: #ffffff; }

.borderRight {
  border-right: 1px solid #ccc; }

html {
  font-size: 62.5%; }

.fp-section.fp-table {
  overflow: hidden;
  padding: 0 0 5rem 0; }

img {
  max-width: 100%; }
  img.noMax {
    max-width: initial; }

.navbar-default {
  border: 0; }

body {
  position: relative; }
  body.canvas-slid:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: rgba(82, 34, 123, 0.7);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear; }
  @media (min-width: 768px) {
    body .scrollBtn {
      position: relative;
      animation: slideInFromTop 2s ease-out 0s; } }

header {
  background-color: #f7f7f7;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 6rem; }
  header.big {
    height: 8rem; }
    header.big .logo img {
      width: 125px;
      position: absolute;
      top: 10px; }
    header.big .offcanvas.in .logo img {
      width: 150px;
      position: inherit; }
    header.big nav li {
      height: 8rem;
      line-height: 7.8rem;
      margin-left: 0;
      padding: 0 .7rem; }
  header:after {
    content: "";
    height: 4rem;
    width: 100vw;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -4rem;
    background: url(img/navCurveLeft.png) no-repeat left top, url(img/navCurveRight.png) no-repeat right top;
    background-size: 50%; }
  header .logo {
    margin: 0 0 0 10px;
    line-height: 6rem; }
    header .logo img {
      margin: 0; }
  header nav {
    overflow: hidden !important; }
    header nav.offcanvas .logo {
      width: 100%;
      text-align: center;
      margin: 20px 0px; }
    header nav li {
      padding: 0rem .8rem;
      height: 6rem;
      line-height: 5.8rem; }
      header nav li a {
        color: #52227b !important;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: 0 0 .5rem 0 !important;
        height: initial;
        display: initial !important;
        border-radius: 0 !important;
        background-color: inherit !important; }
        header nav li a:hover {
          color: #d50b82 !important;
          background-color: inherit;
          border-bottom: 2px #d50b82 solid; }
      header nav li:hover, header nav li.active {
        background-color: inherit; }
    header nav.toggle_open .collapse {
      padding-top: 9rem;
      background-image: url("img/logoFortimel.png");
      background-repeat: no-repeat;
      background-size: 14rem;
      background-position: top 2rem center;
      transition: 0.4s;
      display: block;
      opacity: 1;
      position: absolute;
      background-color: #fff;
      left: 0;
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      overflow: auto !important; }
  header .nav-pills > li.active > a, header .nav-pills > li.active > a:focus, header .nav-pills > li.active > a:hover {
    color: #d1007d !important;
    background-color: inherit;
    border-bottom: 2px #d50b82 solid; }

#fp-nav ul li {
  position: relative; }
  #fp-nav ul li a span {
    background-color: #d50b82;
    margin: -2px 0 0 -4px;
    height: 8px;
    width: 8px; }
  #fp-nav ul li a.active span {
    border: 3px solid #d50b82;
    background-color: #ffffff; }
  #fp-nav ul li:hover .fp-tooltip {
    visibility: visible;
    left: 100%;
    top: 50%;
    margin-top: -11.5px;
    margin-left: 15px;
    z-index: 999; }
  #fp-nav ul li:after {
    content: '';
    height: 2rem;
    width: 0.1rem;
    background-color: #d50b82;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%); }
  #fp-nav ul li:last-child:after {
    display: none; }
  #fp-nav ul li .fp-tooltip {
    position: absolute;
    width: 140px;
    color: #FFFFFF;
    background: #D50B82;
    height: 23px;
    line-height: 23px;
    text-align: center;
    visibility: hidden;
    border-radius: 5px;
    overflow: inherit;
    padding: 0px 10px;
    text-transform: uppercase;
    font-family: "Lato", "Helvetica", sans-serif;
    font-size: 10px; }
    #fp-nav ul li .fp-tooltip:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -8px;
      width: 0;
      height: 0;
      border-right: 8px solid #D50B82;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; }

button.navbar-toggle {
  display: none;
  cursor: pointer;
  border-color: transparent !important; }
  button.navbar-toggle .bar1, button.navbar-toggle .bar2, button.navbar-toggle .bar3 {
    background-color: #d50b82 !important;
    margin: 4px 0;
    transition: 0.4s;
    height: 3px !important; }
  button.navbar-toggle:hover {
    background: none; }
  button.navbar-toggle:after {
    display: none; }
  button.navbar-toggle.open {
    position: absolute;
    right: 0;
    /* Rotate first bar */
    /* Fade out the second bar */
    /* Rotate last bar */ }
    button.navbar-toggle.open .bar1 {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg) translate(-6px, 6px); }
    button.navbar-toggle.open .bar2 {
      opacity: 0; }
    button.navbar-toggle.open .bar3 {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg) translate(-4px, -5px); }

.fp-slidesNav.bottom {
  bottom: -10px;
  left: 50% !important;
  transform: translateX(-50%);
  width: 100%;
  margin-left: 0 !important;
  text-align: center; }
  .fp-slidesNav.bottom ul {
    display: inline-block; }

.fp-slidesNav ul li a span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a span, .fp-slidesNav ul li:hover a.active span {
  background: transparent;
  border: 1px solid #52227b;
  width: 10px;
  height: 10px;
  margin: -2px 0 0 -2px; }

.fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  background: #d50b82;
  border: none; }

@media (max-width: 1023px) {
  #fp-nav {
    display: none; }
  header.container {
    padding-right: 0;
    padding-left: 0; }
  nav.offcanvas ul li {
    width: 100%;
    line-height: 3.5rem;
    height: auto; }
    nav.offcanvas ul li a {
      font-size: 1.3rem; }
  .navbar-header {
    width: 100%;
    height: auto;
    line-height: 3.5rem;
    padding-left: 15px; }
  /*.navbar-default {
			border:0;
			position: initial;
			.collapse{
				transition: 0s;
				z-index: -1000;
				position: fixed;
				opacity: 0;
				-webkit-transform: translateX(1000px);
			    		transform: translateX(1000px);
			    width: 95vw;
			    left: 0;
			    height: 100vh !important;
		        z-index: 10000;
		    	top: 0;
			    ul{
			    	li{
		    		    width: 100%;
					    line-height: 3.5rem;
					    height: auto;
			    		a{
			    			font-size: 1.3rem;
			    		}
			    	}
			    }
			}
		}*/
  button.navbar-toggle {
    display: block; }
  /*.navbar-default{
			background: none;
			.collapse{
				background-color: #f8f8f8;
				height: 100vh !important;
				width: 300px;
			    position: relative;
			    display: block !important;
			    &:not(.in){
			    	left: -300px;
			    }
			    &.in{
			    	transition: 1s;
			    	transform: translateX(300px);
			    	-webkit-transform: translateX(300px);
			    }
			    ul{
			    	li{
		    		    width: 100%;
					    line-height: 3.5rem;
					    height: auto;
			    		a{
			    			font-size: 1.3rem;
			    		}
			    	}
			    }
			}
			.collapsing {
			    -webkit-transition: none;
			    transition: none;
			    display: none;
			}
		}*/ }

/********FONTS STYLES*******/
h2 {
  text-align: center;
  font-family: 'Kristi', cursive;
  font-size: 6rem;
  line-height: 5rem;
  margin-bottom: 0;
  color: #d50b82; }

h3 {
  text-align: center;
  margin-top: 0;
  font-size: 2.25rem;
  color: #52227b;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: 4rem; }

p {
  font-size: 1.4rem;
  color: #5f5f5f;
  line-height: 1.8rem; }
  p strong {
    font-size: 1.4rem;
    line-height: 1.6rem; }
  p.small {
    font-size: 1.1rem;
    line-height: 1.6rem; }
  p.big {
    font-size: 1.8rem;
    line-height: 2.2rem; }
    p.big strong {
      font-size: 1.6rem;
      line-height: 2rem; }
  p.job {
    font-size: 1rem; }
  p.bubbled {
    background-color: #f3f1f7;
    padding: 7px 20px;
    border-radius: 20px; }

ul.customList {
  padding-left: 2rem; }
  ul.customList li {
    color: #d50b82;
    position: relative;
    list-style: none; }
    ul.customList li span {
      font-size: 1.3rem;
      color: #5f5f5f; }
    ul.customList li:before {
      content: "\f0da";
      font-family: FontAwesome;
      position: absolute;
      left: -1.7rem; }

.text-uppercase {
  text-transform: uppercase !important; }

.font-black {
  font-family: 'Lato', sans-serif !important;
  font-weight: 900 !important; }

/****ALIGNEMENTS*****/
.text-center {
  text-align: center; }

.absolutePosition {
  position: absolute; }
  .absolutePosition.bottom {
    bottom: 3rem; }
    .absolutePosition.bottom.nextPage {
      width: 60%; }
  .absolutePosition.center {
    margin-left: 50%;
    transform: translateX(-50%); }
  .absolutePosition.right {
    right: 2rem; }
  .absolutePosition.left {
    left: 3rem; }
  .absolutePosition.reference {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-right: 1.2rem; }
    .absolutePosition.reference:after {
      content: "\f0da";
      font-family: FontAwesome;
      position: absolute;
      right: 0rem;
      font-size: 1.3rem;
      top: 50%;
      transform: translateY(-50%); }
    .absolutePosition.reference a:hover, .absolutePosition.reference a:focus {
      color: inherit;
      cursor: pointer; }
  .absolutePosition.abbreviation {
    max-width: 40rem;
    text-align: left;
    padding-left: 2rem; }
  .absolutePosition.nextPage {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 1.6rem; }
    .absolutePosition.nextPage:after {
      content: "\f0d7";
      font-family: FontAwesome;
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2.5rem; }
      @media (min-width: 768px) {
        .absolutePosition.nextPage:after {
          animation: triangleSlideIn 1.5s ease-out .2s infinite; } }
    .absolutePosition.nextPage a:hover, .absolutePosition.nextPage a:focus {
      color: inherit;
      cursor: pointer; }

.fp-responsive .absolutePosition.abbreviation {
  position: initial;
  margin-bottom: 2rem; }

.fp-responsive .absolutePosition.reference {
  display: none !important; }

.fp-scroller .container {
  padding-bottom: 4rem; }
  .fp-scroller .container.title {
    padding-bottom: 0rem; }

@media (max-width: 728px) {
  .absolutePosition {
    position: initial;
    margin-top: 3rem; }
    .absolutePosition.reference {
      display: none !important; }
  #home_01 .absolutePosition {
    margin-top: 0rem; }
  .featherlight .absolutePosition.reference {
    display: none !important; } }

/********FORMS, BUTTONS*******/
.fp-controlArrow {
  margin-top: 0; }
  .fp-controlArrow.fp-prev {
    border-width: 0;
    left: 6rem; }
    .fp-controlArrow.fp-prev:after {
      content: "\f053";
      font-family: FontAwesome;
      font-size: 3rem;
      position: absolute;
      top: 0;
      left: 0;
      color: #d50b82; }
  .fp-controlArrow.fp-next {
    border-width: 0;
    right: 6rem; }
    .fp-controlArrow.fp-next:before {
      content: "\f054";
      font-family: FontAwesome;
      font-size: 3rem;
      position: absolute;
      top: 0;
      right: 0;
      color: #d50b82; }

button, a.button {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.65rem;
  color: #52227b;
  padding: 1rem 5rem 1rem 2rem;
  background-color: transparent;
  border: 1px solid #52227b;
  border-radius: 6rem;
  margin-bottom: 1rem;
  position: relative; }
  button:hover, a.button:hover {
    text-decoration: none; }
  button.primary-color, a.button.primary-color {
    border: 1px solid #d50b82;
    font-weight: 600; }
  button:after, a.button:after {
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    right: 1.7rem;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%); }
  button.closeButton, a.button.closeButton {
    font-weight: normal;
    text-transform: uppercase;
    padding: 1rem 4rem 1rem 4rem; }
    button.closeButton:after, a.button.closeButton:after {
      display: none; }

.customCheckBox {
  background-color: #f9f8fb;
  border-radius: 10rem;
  color: #52227b;
  text-align: center;
  font-weight: normal;
  width: 220px;
  margin: auto;
  position: relative;
  margin-bottom: 1rem;
  /* Hover and focus states */
  /* Checked state */
  /* Hover state whilst checked */
  /* Check mark */
  /* Show check mark */
  /* Radio button inner circle */
  /* Disabled circle colour */ }
  .customCheckBox label {
    font-weight: normal;
    width: 100%;
    padding: 1rem; }
    .customCheckBox label:hover {
      cursor: pointer; }
  .customCheckBox input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .customCheckBox.showAnswer.resultCorrect {
    background-color: #00b2a8;
    color: #ffffff; }
  .customCheckBox.showAnswer.resultFalse {
    background-color: #d50b5c;
    color: #ffffff; }
  .customCheckBox .control__indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #52227b; }
  .customCheckBox .control--radio .control__indicator {
    border-radius: 50%; }
  .customCheckBox .control:hover input ~ .control__indicator,
  .customCheckBox .control input:focus ~ .control__indicator {
    border: 1px solid #d50b82;
    cursor: pointer; }
  .customCheckBox .control input:checked ~ .control__indicator {
    background: #fff; }
  .customCheckBox .control:hover input:not([disabled]):checked ~ .control__indicator,
  .customCheckBox .control input:checked:focus ~ .control__indicator {
    background: #fff; }
  .customCheckBox .control__indicator:after {
    position: absolute;
    display: none;
    content: ''; }
  .customCheckBox .control input:checked ~ .control__indicator:after {
    display: block; }
  .customCheckBox .control--radio .control__indicator:after {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #52227b; }
  .customCheckBox .control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b; }

/*******POPIN**********/
.fp-responsive .featherlight .absolutePosition.abbreviation {
  position: initial;
  margin-bottom: 0; }

.featherlight .featherlight-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  padding: 0rem 0rem 0;
  /*border-bottom: 25px solid transparent;*/
  margin-left: 0;
  margin-right: 0;
  max-height: 100%;
  background: #fff;
  cursor: auto;
  white-space: normal;
  height: 100%;
  width: 100%; }

.featherlight:before {
  display: none; }

.featherlight .absolutePosition {
  display: block; }

.featherlight .featherlight-close {
  display: none; }

.featherlight .closePopin {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #b1a0d3;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding-right: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  cursor: pointer; }
  .featherlight .closePopin span:after {
    content: "";
    width: 2.1rem;
    height: 2.1rem;
    display: block;
    background-image: url("img/closePopin.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }

.lightbox {
  display: none;
  height: 100vh; }
  .lightbox.featherlight-inner {
    min-width: 100%;
    max-height: 100%;
    position: absolute; }
  .lightbox .container {
    margin-top: inherit;
    transform: none;
    padding-top: 4rem; }
  .lightbox#popinQuiz {
    background-image: url("img/bgdDiagnostic_white.jpg?1234");
    background-size: cover; }
    .lightbox#popinQuiz form {
      margin-bottom: 20px; }
    .lightbox#popinQuiz p.quizAnswer span {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 3rem; }
      .lightbox#popinQuiz p.quizAnswer span.rightAnswer {
        color: #00b2a8; }
      .lightbox#popinQuiz p.quizAnswer span.wrongAnswer {
        color: #d50b5c; }
  .lightbox#popinReferences .absolutePosition {
    position: fixed;
    left: 0 !important; }

body #home_01 {
  background-image: url("img/bgdHome.jpg");
  background-size: cover; }
  body #home_01 img.hidden-xs {
    width: 50vw;
    max-width: 900px; }

body #quiz_02 {
  background-image: url("img/bgdQuiz.jpg");
  background-size: cover; }
  body #quiz_02 .showAnwser {
    right: 1000px;
    position: relative; }
    body #quiz_02 .showAnwser h4 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      color: #52227b; }
      body #quiz_02 .showAnwser h4 span {
        color: #d50b82; }
    body #quiz_02 .showAnwser .correctOrFalse {
      color: #ffffff;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      font-family: 'Lato', sans-serif;
      font-weight: 900; }
      body #quiz_02 .showAnwser .correctOrFalse.red {
        background-color: #d50b5c; }
      body #quiz_02 .showAnwser .correctOrFalse.green {
        background-color: #00b2a8; }
    body #quiz_02 .showAnwser .retryQuiz {
      color: #d50b82; }
      body #quiz_02 .showAnwser .retryQuiz:hover {
        text-decoration: underline; }
  body #quiz_02 #footerAnswer {
    right: 1000px;
    position: relative;
    opacity: 0; }

body #situation_03 .fp-tableCell {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto; }
  body #situation_03 .fp-tableCell .container {
    max-width: 100%;
    margin-top: 40vh;
    transform: translateY(-50%); }

body #situation_03 .slideForResponsive {
  text-align: center; }
  body #situation_03 .slideForResponsive .autoWidth {
    display: inline-block;
    text-align: left; }

body #diagnostic_04 {
  background-image: url("img/bgdDiagnostic.jpg");
  background-size: cover; }
  body #diagnostic_04 .rightImage {
    margin-top: -8rem;
    position: relative;
    right: 0px;
    width: 130%;
    max-width: 50vw; }
    body #diagnostic_04 .rightImage.responsive {
      margin-top: 0;
      max-width: inherit; }

body #efficacite_05 img {
  max-height: 35rem; }

body #produit_06 {
  background-image: url("img/bgdProduitClinique.jpg");
  background-size: cover; }
  body #produit_06 strong {
    font-size: 1.75rem;
    line-height: 2.5rem; }

body #gamme_07 .titleGamme h4 {
  background-color: #d50b82;
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 3rem 3rem 0rem 0rem;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 4rem; }
  body #gamme_07 .titleGamme h4.blue {
    background-color: #007db2; }
  body #gamme_07 .titleGamme h4.orange {
    background-color: #ed7c20; }
  body #gamme_07 .titleGamme h4.green {
    background-color: #00b2a8; }

body #gamme_07 h3 {
  margin-bottom: 2rem; }

body #gamme_07 .imgProducts .product {
  display: inline-block;
  margin-left: -2rem;
  margin-right: -2rem; }

body #gamme_07 .imgProducts.col2 .product {
  max-width: calc(80% / 6);
  margin-left: 0; }

body #gamme_07 .imgProducts.col3 .product {
  max-width: calc(70% / 6);
  margin-left: 0; }

body #gamme_07 .imgProducts.col4 .product {
  max-width: calc(80% / 6);
  margin-left: 0; }

body #gamme_07 .imgProducts.col5 .product {
  max-width: calc(80% / 6);
  margin-left: 0; }

body #gamme_07 .imgProducts.col6 .product {
  max-width: calc(70% / 6);
  margin-left: 0; }

body #gamme_07 .imgProducts.col7 .product {
  max-width: calc(80% / 7);
  margin-left: 0; }

body #gamme_07 #slideGamme1 .imgProducts .product, body #gamme_07 #slideGamme6 .imgProducts .product {
  margin-left: 0rem;
  margin-right: 0rem; }

body #gamme_07 #slideGamme2 .imgProducts .product, body #gamme_07 #slideGamme3 .imgProducts .product, body #gamme_07 #slideGamme4 .imgProducts .product, body #gamme_07 #slideGamme5 .imgProducts .product {
  margin-left: -1rem;
  margin-right: -1rem; }

body #observance_08 button {
  border: 1px solid #d50b82 !important;
  font-weight: normal; }

body #posologie_09 .titleGamme h4 {
  background-color: #d50b82;
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 3rem 3rem 0rem 0rem;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  min-width: 20rem; }
  body #posologie_09 .titleGamme h4.blue {
    background-color: #007db2; }

body #conclusion_10 {
  background-image: url("img/bgdConclusion.jpg");
  background-size: cover; }
  body #conclusion_10 p {
    font-size: 1.6rem; }
    body #conclusion_10 p sup {
      font-size: 70%; }
    body #conclusion_10 p.small {
      font-size: 1.1rem;
      line-height: 1.6rem; }
  body #conclusion_10 button, body #conclusion_10 a.button {
    color: #ffffff;
    border: 1px solid #ffffff !important;
    font-weight: normal;
    display: block;
    max-width: 400px; }
    body #conclusion_10 button:after, body #conclusion_10 a.button:after {
      color: #ffffff; }

/***************************
    RESPONSIVE VERSION
****************************/
@media (min-width: 768px) {
  body .lightbox.featherlight-inner {
    position: fixed; }
  body .lightbox .container {
    margin-top: 50vh;
    transform: translateY(-50%);
    padding-top: 0; }
  body .absolutePosition.bottom.nextPage {
    width: inherit; }
  body #situation_03 .container, body #gamme_07 .container {
    margin-bottom: 2rem; } }

@media (min-width: 768px) and (max-width: 992px) {
  body #situation_03 .container {
    max-width: 630px; }
  body #diagnostic_04 .rightImage {
    margin-top: -10rem;
    position: relative;
    right: 0px;
    width: 220%; } }

@media (min-width: 1024px) and (max-width: 1200px) {
  body #diagnostic_04 .rightImage {
    margin-top: -10rem;
    position: relative;
    right: 0px;
    width: 150%; } }

@media (min-width: 1200px) {
  body #diagnostic_04 .rightImage {
    margin-top: -14rem;
    position: relative;
    right: -50px;
    width: 150%; } }

@media (max-height: 680px) and (min-width: 1024px) {
  body #quiz_02 h3 {
    margin-bottom: 1rem; }
  body #quiz_02 #allAnswers img {
    max-width: 80%; }
  body #quiz_02 .absolutePosition.abbreviation {
    z-index: 10000; }
  body #gamme_07 h3 {
    margin-bottom: 2rem; }
  body #gamme_07 .titleGamme h4 {
    margin-bottom: 2rem; }
  body #gamme_07 .imgProducts .product {
    display: inline-block;
    margin-left: 0rem;
    margin-right: 0rem; }
    body #gamme_07 .imgProducts .product img {
      width: auto;
      max-height: 25rem; }
  body #conclusion_10 img {
    max-height: 40vh; } }

body.fp-responsive #home_01 .mainImage {
  width: 120%;
  max-width: initial;
  margin-left: -15%; }

body.fp-responsive #quiz_02 {
  text-align: center; }
  body.fp-responsive #quiz_02 img {
    max-width: 70%; }
  body.fp-responsive #quiz_02 .text-right {
    text-align: center; }
  body.fp-responsive #quiz_02 #allAnswers {
    margin-bottom: 3rem; }
  body.fp-responsive #quiz_02 ul {
    text-align: left; }

body.fp-responsive #produit_06 {
  background-image: none;
  background-color: #54237f !important; }
  body.fp-responsive #produit_06 .logo {
    text-align: center; }
    body.fp-responsive #produit_06 .logo img {
      width: 60%; }
  body.fp-responsive #produit_06 .product {
    text-align: right; }
    body.fp-responsive #produit_06 .product img {
      max-width: initial;
      width: 25rem;
      float: right;
      margin-right: -5rem; }

body.fp-responsive #gamme_07 .imgProducts.col2 .product {
  max-width: calc(100% / 4);
  margin-left: 0; }

body.fp-responsive #gamme_07 .imgProducts.col3 .product {
  max-width: calc(100% / 4);
  margin-left: 0; }

body.fp-responsive #gamme_07 .imgProducts.col4 .product {
  max-width: calc(100% / 5);
  margin-left: 0; }

body.fp-responsive #gamme_07 .imgProducts.col5 .product {
  max-width: calc(90% / 6);
  margin-left: 0; }

body.fp-responsive #gamme_07 .imgProducts.col6 .product {
  max-width: calc(90% / 6);
  margin-left: 0; }

body.fp-responsive #gamme_07 .imgProducts.col7 .product {
  max-width: calc(90% / 7);
  margin-left: 0; }

body.fp-responsive #observance_08 img.product {
  width: 40% !important; }

body.fp-responsive #posologie_09 {
  text-align: center; }

body.fp-responsive #conclusion_10 .mainImage {
  width: 110%;
  max-width: initial;
  margin-left: -10%; }

@media (max-height: 690px) and (min-width: 1024px) {
  html {
    font-size: 54.5%; }
    html header:after {
      bottom: -3.8rem; } }

@media (min-width: 1024px) {
  nav.offcanvas {
    display: block;
    width: 100%;
    position: relative;
    background: none;
    border: none; }
    nav.offcanvas .logo {
      display: none; } }

@media (max-width: 767px) {
  img.rightImage {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .fp-slidesNav {
    display: block; }
  .fp-controlArrow.fp-prev {
    left: 0; }
  .fp-controlArrow.fp-next {
    right: 0; }
  p.bubbled.pull-right {
    float: none !important;
    padding: 15px 30px;
    width: 180px;
    margin-left: auto;
    margin-right: auto; }
    p.bubbled.pull-right strong {
      font-size: 1.7rem; }
  .pl-xs {
    padding-left: 15px; } }

@media (min-width: 768px) {
  .fp-slidesNav.bottom {
    bottom: -5px; } }
