@charset "UTF-8";
/*** PLAYER SKIN ***/
/* ==========================================================================
   PLAYER SKIN : TURQUOISE
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,300italic,400italic,700italic);
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.reveal {
  font-family: 'Roboto Condensed', 'Oswald', sans-serif;
  font-weight: lighter; }

.reveal .slide-background {
  background-position: bottom right;
  background-size: contain;
  background-color: #1E2735; }

.reveal.center .slides,
.reveal.center .slides section {
  min-height: 100% !important;
  min-width: 100% !important; }

.reveal.center .slides section {
  padding: 0; }

.reveal nav.slide-menu {
  background-color: #2B4754;
  background-image: url("img/skin_bg-menu.jpg");
  background-size: 100%;
  width: 100%;
  position: absolute; }

.reveal ul.underSection {
  text-align: center;
  margin: 10px 0px 15px; }

.reveal ul.underSection > li {
  display: inline-block;
  margin: 0px 5px; }

.reveal a {
  color: #2B4754; }

.reveal .slide-menu-button {
  left: 10px;
  top: 10px;
  bottom: 60px !important; }

.reveal ol.slide-menu-toolbar {
  display: none !important; }

.reveal li#close {
  color: #fff;
  list-style-type: none;
  font-size: 30px;
  font-weight: lighter;
  position: absolute;
  top: 10px;
  left: 10px; }

.reveal .slide-menu-items,
.reveal .slide-menu-item {
  border: none !important; }

.reveal .active-menu-panel li {
  background-color: transparent;
  width: 0px;
  height: 16px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #56ede3 !important;
  color: #56ede3;
  margin-bottom: 10px; }

.reveal .active-menu-panel li.selected {
  background-color: #56ede3 !important;
  width: 0px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #56ede3 !important; }

.reveal .slide-menu-item, .reveal .slide-menu-item-vertical {
  padding: 7px 17px 7px 12px !important; }

/* CONTROLS */
.reveal .controls {
  background: #1e303b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #1e303b 0%, #21464f 50%, #1e303b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e303b 0%, #21464f 50%, #1e303b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e303b 0%, #21464f 50%, #1e303b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e303b', endColorstr='#1e303b',GradientType=1 );
  /* IE6-9 */
  width: 100%;
  height: 60px;
  bottom: 0;
  right: 0; }

.reveal .controls button {
  opacity: .3; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-down {
  display: none; }

.reveal .controls .navigate-left,
.reveal .controls .navigate-right,
.reveal .controls .toggle-sound {
  top: 20px;
  width: 27px;
  height: 21px; }

.reveal .controls .navigate-left {
  left: 30px;
  border: none;
  background: url("img/skin_control-left.png") no-repeat; }

.reveal .controls .navigate-right {
  left: 74px;
  border: none;
  background: url("img/skin_control-right.png") no-repeat; }

.reveal .controls .toggle-sound {
  right: 30px;
  border: none;
  background: url("img/skin_control-speaker.png") no-repeat; }

.reveal .controls .enabled {
  opacity: 1; }

/* PROGRESS */
.reveal .progress {
  bottom: 27px;
  width: calc(100% - 200px);
  height: 6px;
  background-color: #2a637a;
  margin-left: 50%;
  -moz-transform: translateX(-48%);
  -o-transform: translateX(-48%);
  -webkit-transform: translateX(-48%);
  -ms-transform: translateX(-48%);
  transform: translateX(-48%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')"; }

.reveal .progress span {
  box-sizing: border-box;
  background-color: #1e2734;
  border: 2px solid #2a637a; }

.reveal a.slideButton {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  background: url("img/skin_btn-slide.png") no-repeat;
  position: absolute;
  z-index: 9;
  top: -8px;
  left: -8px; }

.reveal span.slideButtonActive {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  top: -8px;
  left: 0px;
  background: #56ede3; }

.reveal span#mobileProgress {
  position: absolute;
  top: 12px;
  left: 120px; }

.reveal span#mobileProgress > span {
  color: #56ede3; }

/*AUDIO*/
.reveal .audio-controls {
  visibility: hidden !important; }

/*** VENDORS ***/
@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald-Regular.ttf"); }

@font-face {
  font-family: Oswald;
  font-weight: light;
  src: url("../fonts/Oswald-Light.ttf"); }

@font-face {
  font-family: Oswald;
  font-weight: bold;
  src: url("../fonts/Oswald-Bold.ttf"); }

/** BASICS **/
/** ARCOXIA BLUES **/
/** ARCOXIA GREENS **/
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */
body {
  font-family: 'Roboto Condensed', 'Oswald', sans-serif;
  background-color: #1f2934; }

body.mobile .playButton {
  display: block; }

body.mobile .toggle-sound {
  display: none; }

.playButton {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(50, 99, 112, 0.8);
  z-index: 999; }
  .playButton .tableCell {
    display: table-cell;
    height: 98vh;
    width: 100vw;
    color: #ffffff;
    vertical-align: middle;
    text-align: center; }
    .playButton .tableCell .circle-bg-frame {
      width: 160px;
      height: 160px;
      top: inherit;
      -moz-transform: inherit;
      -o-transform: inherit;
      -webkit-transform: inherit;
      -ms-transform: inherit;
      transform: inherit;
      display: inline-block;
      border-top-color: #37d3ce; }
      .playButton .tableCell .circle-bg-frame .fa-play {
        font-size: 90px;
        line-height: 160px;
        padding-left: 25px;
        color: #ffffff; }
      .playButton .tableCell .circle-bg-frame:hover, .playButton .tableCell .circle-bg-frame:focus {
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; }
    .playButton .tableCell .fa-spin {
      font-size: 50px;
      visibility: hidden;
      position: absolute;
      top: 0; }
  .playButton.loading .fa-spin {
    visibility: visible;
    position: relative; }

span.animnext {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ffffff;
  opacity: 1;
  position: absolute;
  bottom: 18px;
  left: 70px;
  z-index: -1; }

.responsive {
  width: 100%;
  height: auto; }

.absolute-content {
  position: absolute;
  display: block; }

.valign-middle-content {
  margin-top: calc(50% - 60px) !important;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
  position: relative; }

.halign-middle-content {
  margin-left: 50% !important;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
  position: relative; }

.reveal {
  /** MARGINS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/
  /** MARGINS **/
  /** PADDINGS **/ }
  .reveal .backgrounds .slide-background {
    background-size: cover; }
  .reveal #mobileProgress {
    display: none; }
  .reveal .content-circle .circle {
    background-color: #ccc;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box; }
    .reveal .content-circle .circle.w100 {
      width: 100px;
      height: 100px;
      padding: 16px; }
    .reveal .content-circle .circle.w125 {
      width: 125px;
      height: 125px;
      padding: 20px; }
    .reveal .content-circle .circle.w150 {
      width: 150px;
      height: 150px;
      padding: 24px; }
    .reveal .content-circle .circle.w175 {
      width: 175px;
      height: 175px;
      padding: 28px; }
    .reveal .content-circle .circle.w200 {
      width: 200px;
      height: 200px;
      padding: 32px; }
    .reveal .content-circle .circle.w225 {
      width: 225px;
      height: 225px;
      padding: 36px; }
    .reveal .content-circle .circle.w250 {
      width: 250px;
      height: 250px;
      padding: 40px; }
    .reveal .content-circle .circle.w275 {
      width: 275px;
      height: 275px;
      padding: 44px; }
    .reveal .content-circle .circle.w300 {
      width: 300px;
      height: 300px;
      padding: 48px; }
    .reveal .content-circle .circle.w325 {
      width: 325px;
      height: 325px;
      padding: 52px; }
    .reveal .content-circle .circle.w350 {
      width: 350px;
      height: 350px;
      padding: 56px; }
    .reveal .content-circle .circle.w375 {
      width: 375px;
      height: 375px;
      padding: 60px; }
    .reveal .content-circle .circle.w400 {
      width: 400px;
      height: 400px;
      padding: 64px; }
    .reveal .content-circle .circle.w425 {
      width: 425px;
      height: 425px;
      padding: 68px; }
    .reveal .content-circle .circle.w450 {
      width: 450px;
      height: 450px;
      padding: 72px; }
    .reveal .content-circle .circle.w475 {
      width: 475px;
      height: 475px;
      padding: 76px; }
    .reveal .content-circle .circle.w500 {
      width: 500px;
      height: 500px;
      padding: 80px; }
    .reveal .content-circle .circle.w525 {
      width: 525px;
      height: 525px;
      padding: 84px; }
    .reveal .content-circle .circle.w550 {
      width: 550px;
      height: 550px;
      padding: 88px; }
    .reveal .content-circle .circle.w575 {
      width: 575px;
      height: 575px;
      padding: 92px; }
    .reveal .content-circle .circle.w600 {
      width: 600px;
      height: 600px;
      padding: 96px; }
    .reveal .content-circle .circle.w625 {
      width: 625px;
      height: 625px;
      padding: 100px; }
    .reveal .content-circle .circle.w650 {
      width: 650px;
      height: 650px;
      padding: 104px; }
    .reveal .content-circle .circle.w675 {
      width: 675px;
      height: 675px;
      padding: 108px; }
    .reveal .content-circle .circle p {
      font-size: 32px;
      line-height: 32px;
      color: #1e2734;
      text-align: center;
      margin-bottom: 0; }
      .reveal .content-circle .circle p strong {
        font-weight: 400; }
  .reveal .small sup {
    font-size: 70%; }
  .reveal sup {
    font-size: 50%; }
  .reveal .underline {
    text-decoration: underline; }
  .reveal .mt0 {
    margin-top: 0px !important; }
  .reveal .mb0 {
    margin-bottom: 0px !important; }
  .reveal .ml0 {
    margin-left: 0px !important; }
  .reveal .mr0 {
    margin-right: 0px !important; }
  .reveal .pt0 {
    padding-top: 0px !important; }
  .reveal .pb0 {
    padding-bottom: 0px !important; }
  .reveal .pl0 {
    padding-left: 0px !important; }
  .reveal .pr0 {
    padding-right: 0px !important; }
  .reveal .mt10 {
    margin-top: 10px !important; }
  .reveal .mb10 {
    margin-bottom: 10px !important; }
  .reveal .ml10 {
    margin-left: 10px !important; }
  .reveal .mr10 {
    margin-right: 10px !important; }
  .reveal .pt10 {
    padding-top: 10px !important; }
  .reveal .pb10 {
    padding-bottom: 10px !important; }
  .reveal .pl10 {
    padding-left: 10px !important; }
  .reveal .pr10 {
    padding-right: 10px !important; }
  .reveal .mt20 {
    margin-top: 20px !important; }
  .reveal .mb20 {
    margin-bottom: 20px !important; }
  .reveal .ml20 {
    margin-left: 20px !important; }
  .reveal .mr20 {
    margin-right: 20px !important; }
  .reveal .pt20 {
    padding-top: 20px !important; }
  .reveal .pb20 {
    padding-bottom: 20px !important; }
  .reveal .pl20 {
    padding-left: 20px !important; }
  .reveal .pr20 {
    padding-right: 20px !important; }
  .reveal .mt30 {
    margin-top: 30px !important; }
  .reveal .mb30 {
    margin-bottom: 30px !important; }
  .reveal .ml30 {
    margin-left: 30px !important; }
  .reveal .mr30 {
    margin-right: 30px !important; }
  .reveal .pt30 {
    padding-top: 30px !important; }
  .reveal .pb30 {
    padding-bottom: 30px !important; }
  .reveal .pl30 {
    padding-left: 30px !important; }
  .reveal .pr30 {
    padding-right: 30px !important; }
  .reveal .mt40 {
    margin-top: 40px !important; }
  .reveal .mb40 {
    margin-bottom: 40px !important; }
  .reveal .ml40 {
    margin-left: 40px !important; }
  .reveal .mr40 {
    margin-right: 40px !important; }
  .reveal .pt40 {
    padding-top: 40px !important; }
  .reveal .pb40 {
    padding-bottom: 40px !important; }
  .reveal .pl40 {
    padding-left: 40px !important; }
  .reveal .pr40 {
    padding-right: 40px !important; }
  .reveal .mt50 {
    margin-top: 50px !important; }
  .reveal .mb50 {
    margin-bottom: 50px !important; }
  .reveal .ml50 {
    margin-left: 50px !important; }
  .reveal .mr50 {
    margin-right: 50px !important; }
  .reveal .pt50 {
    padding-top: 50px !important; }
  .reveal .pb50 {
    padding-bottom: 50px !important; }
  .reveal .pl50 {
    padding-left: 50px !important; }
  .reveal .pr50 {
    padding-right: 50px !important; }
  .reveal .mt60 {
    margin-top: 60px !important; }
  .reveal .mb60 {
    margin-bottom: 60px !important; }
  .reveal .ml60 {
    margin-left: 60px !important; }
  .reveal .mr60 {
    margin-right: 60px !important; }
  .reveal .pt60 {
    padding-top: 60px !important; }
  .reveal .pb60 {
    padding-bottom: 60px !important; }
  .reveal .pl60 {
    padding-left: 60px !important; }
  .reveal .pr60 {
    padding-right: 60px !important; }
  .reveal .mt70 {
    margin-top: 70px !important; }
  .reveal .mb70 {
    margin-bottom: 70px !important; }
  .reveal .ml70 {
    margin-left: 70px !important; }
  .reveal .mr70 {
    margin-right: 70px !important; }
  .reveal .pt70 {
    padding-top: 70px !important; }
  .reveal .pb70 {
    padding-bottom: 70px !important; }
  .reveal .pl70 {
    padding-left: 70px !important; }
  .reveal .pr70 {
    padding-right: 70px !important; }
  .reveal .mt80 {
    margin-top: 80px !important; }
  .reveal .mb80 {
    margin-bottom: 80px !important; }
  .reveal .ml80 {
    margin-left: 80px !important; }
  .reveal .mr80 {
    margin-right: 80px !important; }
  .reveal .pt80 {
    padding-top: 80px !important; }
  .reveal .pb80 {
    padding-bottom: 80px !important; }
  .reveal .pl80 {
    padding-left: 80px !important; }
  .reveal .pr80 {
    padding-right: 80px !important; }
  .reveal p.small {
    font-size: 12px !important; }

.reveal .placeholder {
  padding: 30px;
  border: 2px solid #ff3ba3;
  max-width: 700px;
  margin: auto; }
  .reveal .placeholder p {
    color: #ff3ba3;
    font-size: 20px; }

.scalableContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px); }

.contentSection {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  left: 50%;
  top: 50%;
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  -o-transform: translateX(-50%) translateY(-50%) scale(1);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')"; }

.circle-bg {
  width: 930px;
  height: 930px;
  border-radius: 50%;
  background-color: rgba(87, 229, 211, 0.5);
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1.2em;
  letter-spacing: 0.3px;
  text-align: left;
  border: none;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')"; }
  .circle-bg .circle-bg-content {
    position: relative;
    box-sizing: border-box;
    margin-top: 0;
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 50px;
    opacity: 1 !important; }

span.circle-bg-frame {
  display: block;
  width: 1005px;
  height: 1005px;
  background-color: transparent;
  border: 7px solid #37d3ce;
  border-top-color: #228380;
  text-align: center;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')"; }

.bottom-circle {
  width: 960px;
  height: 960px;
  border-radius: 50%;
  background-color: #286164;
  opacity: .5;
  position: absolute;
  left: 50px;
  top: -90px;
  z-index: -1; }

.top-circle {
  width: 960px;
  height: 960px;
  border-radius: 50%;
  background-color: #286164;
  opacity: .5;
  position: absolute;
  right: -400px;
  bottom: -350px;
  z-index: -1; }

.main-circle {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #1e2734;
  opacity: .5;
  position: absolute;
  right: -350px;
  top: -150px;
  z-index: -1; }

.button {
  text-transform: uppercase;
  position: absolute;
  top: 348px; }
  .button:before {
    content: '';
    display: block;
    height: 340px;
    width: 40px;
    background-image: url("img/efficacy-btn.png");
    background-position: 0 center;
    position: absolute;
    top: -127.5px;
    left: 38px; }
  .button.prev {
    left: -31px;
    top: 381px; }
  .button.next {
    right: -28px;
    top: 381px; }
    .button.next:before {
      background-position: 38px center;
      left: 12px; }
  .button a {
    background-color: #3e938a;
    height: 85px;
    width: 85px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    text-decoration: none;
    color: #ffffff; }

.safetyInfoButton {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid #1e2734;
  z-index: 3;
  cursor: pointer; }
  .safetyInfoButton .safetyCircle {
    width: 1020px;
    height: 1020px;
    display: block;
    margin: auto;
    border-radius: 50%;
    background-color: #1e2734;
    padding-top: 25px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    position: relative; }
    .safetyInfoButton .safetyCircle h2 {
      color: #ffffff; }
    .safetyInfoButton .safetyCircle .safetyInformation {
      text-transform: none;
      width: 75%;
      margin: auto;
      margin-top: 115px; }
  .safetyInfoButton .label {
    display: block;
    color: #ffffff; }
  .safetyInfoButton .closePopinBtn {
    position: absolute;
    top: 130px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 120px;
    background-color: #1e2734;
    z-index: 100; }
    .safetyInfoButton .closePopinBtn span {
      display: table-cell;
      vertical-align: middle;
      height: 60px;
      width: 60px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      font-family: sans-serif; }

/* ==========================================================================
   FONTS
   ========================================================================== */
.white {
  color: #ffffff !important; }

.light-blue {
  color: #73bcc8 !important; }

.dark-blue {
  color: #326370 !important; }

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #fff;
  position: absolute;
  left: -20px;
  top: -50px;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #1e3645;
  text-transform: capitalize; }

span.emph {
  font-size: 1rem;
  font-weight: bold; }

ul.no-bullets {
  list-style-type: none; }
  ul.no-bullets li.no-bullet {
    padding-left: 0 !important; }
    ul.no-bullets li.no-bullet::before {
      content: '' !important; }

.fa {
  color: #73bcc8; }

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  color: #fff; }

.reveal {
  text-align: left;
  color: #fff; }
  .reveal h1 {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding: 20px 0px;
    font-size: 2.3em;
    font-weight: bold; }
  .reveal h2 {
    color: #fff;
    font-weight: lighter;
    position: relative;
    font-size: 2.60rem;
    line-height: 1.2em;
    text-align: center;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 25px; }
    .reveal h2::after {
      content: '';
      display: block;
      width: 10%;
      height: 7px;
      background-color: #37d3ce;
      position: relative;
      left: 45%;
      margin-top: 15px; }
  .reveal span.slide-menu-item-title, .reveal h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.2em;
    text-align: center; }
  .reveal .slide-menu-panel h3 {
    font-size: 1em !important;
    margin: 0px !important; }
  .reveal span.slide-menu-item-title {
    font-size: .9em; }
  .reveal h4 {
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
    margin-bottom: 10px; }
  .reveal p {
    color: #fff;
    text-align: left;
    font-size: 1rem;
    line-height: 1.4em;
    margin-bottom: 20px; }
  .reveal p.bottomLeftAligned {
    position: absolute;
    bottom: 10vh;
    font-size: .8rem; }
  .reveal .intro:not(#intro-0-0-0) h2::after {
    content: '';
    display: block;
    width: 20%;
    height: 7px;
    background-color: #37d3ce;
    position: relative;
    left: 40%;
    margin-top: 25px; }

/* ==========================================================================
   ANIMATIONS ELEMENTS
   ========================================================================== */
.navigate-right.animated.shake {
  -webkit-animation-duration: 5s;
  animation-duration: 5s; }
  .navigate-right.animated.shake:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused; }

/* BUTTONS */
a.circle-btn {
  display: block;
  width: 130px;
  height: 130px;
  background-color: #3e938a;
  padding: 40px 15px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1em;
  border: none;
  position: relative;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  font-size: 1.20rem; }

span.circle-btn-frame {
  display: block;
  width: 160px;
  height: 160px;
  padding-top: 10px;
  background-color: transparent;
  border: 4px solid #37d3ce;
  border-top-color: #228380;
  text-align: center;
  position: fixed;
  box-sizing: border-box;
  font-size: 1.4em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 125px;
  right: 170px; }
  span.circle-btn-frame::before {
    content: "";
    width: 150px;
    height: 1px;
    position: absolute;
    display: block;
    left: -160px;
    top: 50%;
    border-top: 2px dotted #ffffff; }

a.circle-btn.animated.bounceIn {
  -webkit-animation-duration: 5s;
  animation-duration: 5s; }

