/***************************
    RESPONSIVE VERSION
****************************/
body{
	@media (min-width: 768px){
		.lightbox{
			&.featherlight-inner{
				position: fixed;
			}
			.container{
				margin-top: 50vh;
				transform: translateY(-50%);
				padding-top:0;
			}
		}
		.absolutePosition{
			&.bottom.nextPage{
				width: inherit;
			}
		}
		
		#situation_03, #gamme_07{
			.container{
				margin-bottom: 2rem;
			}
		}

	}
	@media (min-width: 768px) and (max-width: 992px){
		#situation_03{
			.container{
				max-width: 630px;
			}
		}
		#diagnostic_04{
	        .rightImage{
	            margin-top:-10rem;
	            position: relative;
	            right: 0px;
	            width: 220%;
	        }
	    }
	}
	@media (min-width: 1024px) and (max-width: 1200px){
		#diagnostic_04{
	        .rightImage{
	            margin-top:-10rem;
	            position: relative;
	            right: 0px;
	            width: 150%;
	        }
	    }
	}
	@media (min-width: 1200px) {
		#diagnostic_04{
	        .rightImage{
	            margin-top:-14rem;
	            position: relative;
	            right: -50px;
	            width: 150%;
	        }
	    }
	}
	@media (max-height:680px) and (min-width: 1024px) {
	    #quiz_02{
	        h3{
	            margin-bottom: 1rem;
	        }
	        #allAnswers{
	        	img{
	        		max-width: 80%;
	        	}
	        }
	        .absolutePosition.abbreviation{
	        	z-index: 10000;
	        }
	    }
	    #gamme_07{
	        h3{
	            margin-bottom: 2rem;
	        }
	        .titleGamme h4{
	            margin-bottom: 2rem;
	        }
	        .imgProducts{
	            .product{
	                display: inline-block;
	                margin-left: 0rem;
	                margin-right: 0rem;
	                img{
	                    width: auto;
	                    max-height:25rem;
	                }  
	            }
	        }
	    }
	    #conclusion_10{
	        img{
	            max-height: 40vh;
	        }
	    }
	}

	&.fp-responsive{
		#home_01{
	        .mainImage{
	            width: 120%;
	            max-width: initial;
	            margin-left: -15%;
	        }
		}
	    #quiz_02{
	        text-align: center;
	        img{
	            max-width: 70%;
	        }

	        .text-right{
	            text-align: center;
	        }
	        #allAnswers{
	            margin-bottom: 3rem;
	        }
	        ul{
	            text-align: left;
	        }
	    }
	    #produit_06{
	        background-image: none;
	        background-color:#54237f !important;
	        .logo{
	            text-align:center;
	            img{
	                width: 60%;
	            }
	        }
	        .product{
	            text-align: right;
	            img{  
	                max-width: initial;
	                width: 25rem;
	                float: right;
	                margin-right: -5rem;
	            }
	        }
	        
	    }
	    #gamme_07{
	        .imgProducts{
	            &.col2{
	                .product{
	                    max-width: calc(100% / 4);
	                    margin-left: 0;
	                }
	            }
	            &.col3{
	                .product{
	                    max-width: calc(100% / 4);
	                    margin-left: 0;
	                }
	            }
	            &.col4{
	                .product{
	                    max-width: calc(100% / 5);
	                    margin-left: 0;
	                }
	            }
	            &.col5{
	                .product{
	                    max-width: calc(90% / 6);
	                    margin-left: 0;
	                }
	            }
	            &.col6{
	                .product{
	                    max-width: calc(90% / 6);
	                    margin-left: 0;
	                }
	            }
	            &.col7{
	                .product{
	                    max-width: calc(90% / 7);
	                    margin-left: 0;
	                }
	            }
	        }
	    }
	    #observance_08{
	        img.product{
	            width: 40% !important;
	        }
	    } 
	    #posologie_09{
	        text-align: center;
	    }
	    #conclusion_10{
	        .mainImage{
	            width: 110%;
	            max-width: initial;
	            margin-left: -10%;
	        }
	    }
	}
}

@media (max-height:690px) and (min-width: 1024px) {
    html{
        font-size: 54.5%; 
        header:after {
            bottom: -3.8rem;
        } 
    }
}

@media (min-width: 1024px){
	nav{
		&.offcanvas{
			display: block;
			width: 100%;
			position: relative;
			background: none;
			border: none;
			.logo{
				display: none;
			}
		}
	}
} 

@media (max-width: 767px){
	img.rightImage{
		display: block;
		margin-left:auto;
		margin-right: auto;
	}
	.fp-slidesNav{
		display: block;
	}
	.fp-controlArrow{
		&.fp-prev{
			left: 0;
		}
		&.fp-next{
			right: 0;
		}
	}
	p.bubbled.pull-right{
		float: none !important;
		padding: 15px 30px;
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		strong{
			font-size: 1.7rem;
		}
	}
	.pl-xs{
		padding-left:15px;
	}
} 
@media (min-width: 768px){
	.fp-slidesNav.bottom{
		//display: none;
		bottom:-5px;
	}
} 
