@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Kristi');


/***COLORS***/
$primary-color:           #d50b82;
$secondary-color:         #52227b;
$text-color:         	  #5f5f5f;
$white-color:         	  #ffffff;
$blue-color:         	  #007db2;
$orange-color:         	  #ed7c20;
$green-color:         	  #00b2a8;

.primary-color{color:$primary-color;}
.secondary-color{color:$secondary-color;}
.white-color{color:$white-color;}

 
.borderRight{
	border-right:1px solid #ccc;
}