body{
    #home_01{
        background-image: url('img/bgdHome.jpg');
        background-size:cover;
        img.hidden-xs{
            width: 50vw;
            max-width: 900px; 
        }
    }
    #quiz_02{
        background-image: url('img/bgdQuiz.jpg');
        background-size:cover;
        .showAnwser{
            right: 1000px;
            position:relative;
        	h4{
        		font-family: 'Lato', sans-serif;
				font-weight: 900;
				color: $secondary-color;
				span{
					color: $primary-color;
				}
        	}
        	.correctOrFalse{
        		color: $white-color;
        		text-transform: uppercase;
        		padding: 0.5rem 1rem;
        		border-radius:3rem;
        		font-family: 'Lato', sans-serif;
				font-weight: 900;
        		&.red{
					background-color:#d50b5c; 
        		}
        		&.green{
					background-color:#00b2a8; 
        		}
        	}
            .retryQuiz{
                color: $primary-color;
                &:hover{
                    text-decoration: underline;
                }
                
            }
        }
        #footerAnswer{
            right: 1000px;
            position:relative;
            opacity: 0;  
        }
    }

    #situation_03{
        .fp-tableCell{
            display: block;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            .container{
                max-width: 100%;
                margin-top: 40vh;
                transform: translateY(-50%);
            }
        }
        .slideForResponsive{
            text-align: center;
            .autoWidth{
                display: inline-block;
                text-align:left;
            }
        }
    }

    #diagnostic_04{
        background-image: url('img/bgdDiagnostic.jpg');
        background-size:cover;
    	.rightImage{
    		margin-top: -8rem;
            position: relative;
            right: 0px;
            width: 130%;
                max-width: 50vw;
            &.responsive{
                margin-top: 0;
                max-width: inherit;
            }
    	}
        
    }

    #efficacite_05{
        img{
            max-height: 35rem;
        }
    }

    #produit_06{
    	background-image: url('img/bgdProduitClinique.jpg');
    	background-size:cover;
        strong{
            font-size: 1.75rem;
            line-height: 2.5rem;
        }
    }

    #gamme_07{
    	.titleGamme{
			h4{
				background-color:$primary-color;
				display: inline-block;
				padding: 1rem 4rem;
				border-radius: 3rem 3rem 0rem 0rem;
				color: $white-color;
				font-family: 'Lato', sans-serif;
				font-size: 1.4rem;
				font-weight: 900;
				margin-bottom: 4rem;
				&.blue{
					background-color:$blue-color;
				}
                &.orange{
                    background-color:$orange-color;
                }
                &.green{
                    background-color:$green-color;
                }
			}
    	}
        h3{
            margin-bottom: 2rem;
        }
    	.imgProducts{
    		.product{
    			display: inline-block;
    			margin-left: -2rem;
    			margin-right: -2rem; 
    		}
    	}
        .imgProducts{
            &.col2{
                .product{
                    max-width: calc(80% / 6);
                    margin-left: 0;
                }
            }
            &.col3{
                .product{
                    max-width: calc(70% / 6);
                    margin-left: 0;
                }
            }
            &.col4{
                .product{
                    max-width: calc(80% / 6);
                    margin-left: 0;
                }
            }
            &.col5{
                .product{
                    max-width: calc(80% / 6);
                    margin-left: 0;
                }
            }
            &.col6{
                .product{
                    max-width: calc(70% / 6);
                    margin-left: 0;
                }
            }
            &.col7{
                .product{
                    max-width: calc(80% / 7);
                    margin-left: 0;
                }
            }
        }
        #slideGamme1, #slideGamme6{
            .imgProducts{
                .product{
                    margin-left: 0rem;
                    margin-right: 0rem;   
                }
            }
        }
        #slideGamme2, #slideGamme3, #slideGamme4, #slideGamme5{
            .imgProducts{
                .product{
                    margin-left: -1rem;
                    margin-right: -1rem;   
                }
            }
        }
    }
    #observance_08{
    	button{
    		border:1px solid $primary-color !important;
    		font-weight: normal;
    	}
    }
    #posologie_09{
    	.titleGamme{
			h4{
				background-color:$primary-color;
				display: inline-block;
				padding: 1rem 4rem;
				border-radius: 3rem 3rem 0rem 0rem;
				color: $white-color;
				font-family: 'Lato', sans-serif;
				font-size: 1.4rem;
				font-weight: 900;
				min-width: 20rem;
				&.blue{
					background-color:$blue-color;
				}
			}
    	}
    	strong{
    		
    	}
    }
    #conclusion_10{
        background-image: url('img/bgdConclusion.jpg');
        background-size:cover;
        p{
            font-size: 1.6rem;
            sup{
                font-size: 70%;
            }
            &.small{
                font-size: 1.1rem;
                line-height: 1.6rem;
            }
        }
        button, a.button{
            color: $white-color;
            border:1px solid $white-color !important;
            font-weight: normal;
            display: block;
            max-width: 400px;
            &:after{
                color: $white-color;
            }
        }
    }
}