html {font-size:62.5%;}
.fp-section.fp-table{
  overflow: hidden;
  padding: 0 0 5rem 0;
}
img{
	max-width:100%;
	&.noMax{
		max-width: initial;
	}
}
.navbar-default {
	border:0;
}
body{
	position: relative;
	&.canvas-slid:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 99999;
		background-color: rgba($secondary-color, .7);
		-webkit-transition: background-color 1000ms linear;
	    -ms-transition: background-color 1000ms linear;
	    transition: background-color 1000ms linear;
	}
	.scrollBtn{
		@media (min-width: 768px){
			position: relative;
			animation: slideInFromTop 2s ease-out 0s;
		}
	}
}
header{
	&.big{
		height: 8rem;
		.logo img{
			width: 125px;
			position: absolute;
			top: 10px;
		}
		.offcanvas.in{
			.logo img{
				width: 150px;
				position:inherit;
			}
		}
		nav li {
		    height: 8rem;
		    line-height: 7.8rem;
		    margin-left: 0;
		    padding:0 .7rem;
		}

	}
	//ackground-image:url('img/bgdNav.png');
	background-color:#f7f7f7;
	background-size:100%;
	background-repeat:no-repeat;
	height: 6rem;
	&:after{
		content:"";
		height: 4rem;
		width: 100vw;
		background-color:red;
		position: absolute;
		left: 0;
		bottom:-4rem;
		background:url(img/navCurveLeft.png) no-repeat left top, 
		url(img/navCurveRight.png) no-repeat right top;
		background-size:50%; 
	}
	.logo{
		margin:0 0 0 10px;
		line-height: 6rem;
		img{
			margin:0;
		}
	}
	nav{
		overflow:hidden !important;
		&.offcanvas{
			.logo{
				width: 100%;
				text-align: center;
				margin: 20px 0px;
			}
		}
		li{

			padding:0rem .8rem;
			height: 6rem;
			line-height: 5.8rem;
			a{
				color: $secondary-color !important;
				font-family: 'Lato', sans-serif;
				font-weight: 900;
				text-transform:uppercase;
				font-size: 1.1rem;
				padding: 0 0 .5rem 0 !important;
				height: initial;
				display: initial !important;
				border-radius:0 !important;
				background-color:inherit !important;
				&:hover{
					color: $primary-color !important;
					background-color:inherit;
					border-bottom:2px $primary-color solid;
				}
			}
			&:hover, &.active{
				background-color:inherit;
			}
			
		}
		
		&.toggle_open{
			.collapse{
				padding-top: 9rem;
				background-image:url('img/logoFortimel.png');
				background-repeat:no-repeat;
				background-size:14rem;
				background-position: top 2rem center;
				transition: 0.4s;
				display: block;
				opacity: 1; 
			    position: absolute;
			    background-color: #fff;
			    left: 0; 
			    opacity: 1;
			    visibility: visible;
			    -webkit-transform: translateX(0);
		    	transform:  translateX(0);
	    	    overflow: auto !important;
			}
		}
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		color: #d1007d !important;
		background-color:inherit;
		border-bottom:2px $primary-color solid;
	}
}


#fp-nav{
	ul{
		li{

			position: relative;
			a{
				span{
					background-color:$primary-color;
					margin: -2px 0 0 -4px;
					height: 8px;
    				width: 8px;
				}
				&.active{
					span{
					    border: 3px solid $primary-color;
    					background-color: $white-color;
					}
				}
			}
			&:hover{
				.fp-tooltip{
					visibility: visible;
					left: 100%;
					top: 50%;
					margin-top: -11.5px;
					margin-left: 15px;
					z-index: 999;
				}
			}
			&:after{
				content: '';
				height: 2rem;
			    width: 0.1rem;
			    background-color: $primary-color;
			    position: absolute;
			    bottom: -1.5rem;
			    left: 50%;
			    transform: translateX(-50%);
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
			.fp-tooltip{
				position: absolute;
			  	width:140px;
			  	color: #FFFFFF;
			  	background: #D50B82;
			  	height: 23px;
			  	line-height: 23px;
			  	text-align: center;
			  	visibility: hidden;
			  	border-radius: 5px;
			  	overflow: inherit;
			  	padding: 0px 10px;
			  	text-transform: uppercase;
			  	font-family: "Lato", "Helvetica", sans-serif;
			  	font-size: 10px;
			  	&:after{
			  		content: '';
					position: absolute;
					top: 50%;
					right: 100%;
					margin-top: -8px;
					width: 0; height: 0;
					border-right: 8px solid #D50B82;
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
			  	}
			}
		}
	}
}

button.navbar-toggle {
    display: none;
    cursor: pointer;
    border-color:transparent !important;
    .bar1, .bar2, .bar3 {
	    background-color: $primary-color !important;
	    margin: 4px 0;
	    transition: 0.4s;
	    height: 3px !important;
	}
	&:hover{
		background: none;
	}
	&:after{
		display: none;
	}
	&.open{
		position: absolute;
		right: 0;
		/* Rotate first bar */
		.bar1 {
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg) translate(-6px, 6px);
		}

		/* Fade out the second bar */
		.bar2 {
		    opacity: 0;
		}

		/* Rotate last bar */
		.bar3 {
		    -webkit-transform: rotate(45deg);
		    transform: rotate(45deg) translate(-4px, -5px); 
		}
	}
}

.fp-slidesNav{
	&.bottom{
		bottom: -10px;
	    left: 50% !important;
	    transform: translateX(-50%);
	    width: 100%;
	    margin-left: 0 !important;
	    text-align: center;
	    ul{
    	    display: inline-block;
	    }
	}
	ul li, ul li:hover{
		a, a.active{
			span{
				background: transparent;
				border: 1px solid $secondary-color;
				width: 10px;
				height: 10px;
				margin:-2px 0 0 -2px;
			}
			
		}
		a.active{
			span{
				background: $primary-color;
				border: none;
			}
		}
	}

}

@media (max-width: 1023px) {
		#fp-nav{
			display: none;
		}
		header.container{
			padding-right:0;
			padding-left:0;
		}
		nav{
			&.offcanvas{
				ul{
			    	li{
		    		    width: 100%;
					    line-height: 3.5rem;
					    height: auto;
			    		a{
			    			font-size: 1.3rem;
			    		}
			    	}
			    }
			}
		}
		.navbar-header{
			width: 100%;
		    height: auto;
    		line-height: 3.5rem;
		    padding-left: 15px;
		}
		/*.navbar-default {
			border:0;
			position: initial;
			.collapse{
				transition: 0s;
				z-index: -1000;
				position: fixed;
				opacity: 0;
				-webkit-transform: translateX(1000px);
			    		transform: translateX(1000px);
			    width: 95vw;
			    left: 0;
			    height: 100vh !important;
		        z-index: 10000;
		    	top: 0;
			    ul{
			    	li{
		    		    width: 100%;
					    line-height: 3.5rem;
					    height: auto;
			    		a{
			    			font-size: 1.3rem;
			    		}
			    	}
			    }
			}
		}*/
		button.navbar-toggle{
			display: block;
		}
		/*.navbar-default{
			background: none;
			.collapse{
				background-color: #f8f8f8;
				height: 100vh !important;
				width: 300px;
			    position: relative;
			    display: block !important;
			    &:not(.in){
			    	left: -300px;
			    }
			    &.in{
			    	transition: 1s;
			    	transform: translateX(300px);
			    	-webkit-transform: translateX(300px);
			    }
			    ul{
			    	li{
		    		    width: 100%;
					    line-height: 3.5rem;
					    height: auto;
			    		a{
			    			font-size: 1.3rem;
			    		}
			    	}
			    }
			}
			.collapsing {
			    -webkit-transition: none;
			    transition: none;
			    display: none;
			}
		}*/

		
}




/********FONTS STYLES*******/
h2{
	text-align:center;
	font-family: 'Kristi', cursive;
	font-size:6rem;
	line-height:5rem;
	margin-bottom:0;
	color:$primary-color;
}
h3{
	text-align:center;
	margin-top:0;
	font-size:2.25rem;
	color:$secondary-color;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin-bottom:4rem;
}
p{
    font-size: 1.4rem;
    color:$text-color;
    line-height: 1.8rem;
    strong{
    	font-size: 1.4rem;
    	line-height: 1.6rem;
    }
    &.small{
    	font-size: 1.1rem;
    	line-height: 1.6rem;
    }
    &.big{
    	font-size: 1.8rem;
    	line-height: 2.2rem;
    	strong{
    		font-size: 1.6rem;
    		line-height: 2rem;
    	}
    }
    &.job{
    	font-size: 1rem;
    }
    &.bubbled{
    	background-color: #f3f1f7;
    	padding: 7px 20px;
    	border-radius: 20px;
    }
}
ul.customList{
	padding-left: 2rem;
	li{
		color: $primary-color;
		position:relative;
		list-style: none;
		span{
			font-size: 1.3rem;
			color:$text-color;
		}
		&:before{
			content: "\f0da";
			font-family: FontAwesome;
			position:absolute;
			left: -1.7rem;
		}
	}
}
.text-uppercase{
	text-transform:uppercase !important;
}
.font-black{
	font-family: 'Lato', sans-serif !important;
	font-weight: 900 !important;
}
/****ALIGNEMENTS*****/
.text-center{
	text-align:center;
}

.absolutePosition{
	position:absolute;
	&.bottom{
		bottom:3rem;
		&.nextPage{
			width: 60%;
		}
	}
	&.center{
		margin-left: 50%;
		transform: translateX(-50%);
	}
	&.right{
		right: 2rem;
	}
	&.left{
		left: 3rem; 
	}
	&.reference{
		font-size: 1.1rem;
		font-family: 'Lato', sans-serif;
		font-weight:900;
		padding-right:1.2rem;
		&:after{
			content: "\f0da";
		    font-family: FontAwesome;
		    position: absolute;
		    right: 0rem;
		    font-size: 1.3rem;
		    top: 50%;
		    transform: translateY(-50%);
		}
		a{
			&:hover, &:focus{
				color:inherit;
				cursor: pointer;
			}

		}
	}
	&.abbreviation{
		max-width: 40rem;
		text-align:left;
		padding-left:2rem;
	}
	&.nextPage{
		font-family: 'Lato', sans-serif;
		font-weight:900;
		font-size: 1.4rem;
		line-height: 1.6rem;
		&:after{
			content: "\f0d7";
	    	font-family: FontAwesome;
	    	position: absolute;
	    	bottom:-2rem;
			left: 50%;
			transform: translateX(-50%);
			font-size: 2.5rem;
			@media (min-width:768px){
				animation: triangleSlideIn 1.5s ease-out .2s infinite;
			}
		}
		a{
			&:hover, &:focus{
				color:inherit;
				cursor: pointer;
			}

		}
	}
}

.fp-responsive{
	.absolutePosition{
		&.abbreviation{
			position: initial;
		    margin-bottom: 2rem;
		}
		&.reference{
			display: none !important;
		}
	}
}

.fp-scroller{
	.container{
		padding-bottom: 4rem;
		&.title{
			padding-bottom: 0rem;
		}
	} 
}


@media (max-width: 728px) {
	.absolutePosition{
		position: initial;
		margin-top: 3rem;
		&.reference{
			display: none !important;
		}
	}
	#home_01{
		.absolutePosition{
			margin-top: 0rem;
		}
	}
	.featherlight{
		.absolutePosition{
		&.reference{
			display: none !important;
		}
	}
	}
}


/********FORMS, BUTTONS*******/
.fp-controlArrow{
	margin-top: 0;
	&.fp-prev{
		border-width:0;
		left: 6rem;
		&:after{
			content:"\f053";
			font-family: FontAwesome;
			font-size: 3rem;
			position:absolute;
			top: 0;
			left: 0;
			color: $primary-color;
		}
	}
	&.fp-next{
		border-width:0;
		right: 6rem;
		&:before{
			content:"\f054";
			font-family: FontAwesome;
			font-size: 3rem;
			position:absolute;
			top: 0;
			right: 0;
			color: $primary-color;
		}
	}
}

button,a.button{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size:1.65rem;
	color:$secondary-color;
	padding: 1rem 5rem 1rem 2rem;
	background-color:transparent;
	border:1px solid $secondary-color;
	border-radius:6rem;
	margin-bottom:1rem;
	position:relative;
	&:hover{
		text-decoration: none;
	}
	&.primary-color{
		border:1px solid $primary-color;
		font-weight: 600;
	}
	&:after{
		content: "\f0da";
	    font-family: FontAwesome;
	    position: absolute;
	    right: 1.7rem;
	    font-size: 2rem;
	    top: 50%;
	    transform: translateY(-50%);
	}
	&.closeButton{
		font-weight: normal;
		text-transform: uppercase;
		padding: 1rem 4rem 1rem 4rem;
		&:after{
			display: none;
		}
	}
}

.customCheckBox{
	background-color:#f9f8fb;
	border-radius:10rem;
	color:$secondary-color;
	text-align:center;
	font-weight:normal;
	width:220px;
	margin:auto;
	position:relative;
	label{
		font-weight:normal;
		width: 100%;
		padding:1rem;
		&:hover{
			cursor: pointer;
		}
	}
	 // Hide default browser input
  	input[type=radio]{
	    position: absolute;
	    z-index: -1;
	    opacity: 0; 
    } 
	margin-bottom:1rem;
	&.showAnswer{
		&.resultCorrect{
			background-color:#00b2a8;
			color:$white-color;
		}
		&.resultFalse{
			background-color:#d50b5c;
			color:$white-color;
		}
	}

	.control__indicator {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 2rem;
		width: 20px;
		height: 20px;
		background: transparent;
		border:1px solid $secondary-color;
	}

	.control--radio .control__indicator {
		border-radius: 50%;
	}
	/* Hover and focus states */
	.control:hover input ~ .control__indicator,
	.control input:focus ~ .control__indicator {
		border:1px solid $primary-color;
		cursor: pointer;
	}

	/* Checked state */
	.control input:checked ~ .control__indicator {
		background: #fff;
	}

	/* Hover state whilst checked */
	.control:hover input:not([disabled]):checked ~ .control__indicator,
	.control input:checked:focus ~ .control__indicator {
		background: #fff;
	}


	/* Check mark */
	.control__indicator:after {
		position: absolute;
		display: none;
		content: '';
	}

	/* Show check mark */
	.control input:checked ~ .control__indicator:after {
		display: block;
	}

	/* Radio button inner circle */
	.control--radio .control__indicator:after {
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: $secondary-color;
	}

	/* Disabled circle colour */
	.control--radio input:disabled ~ .control__indicator:after {
		background: #7b7b7b;
	}
}

/*******POPIN**********/
.fp-responsive{
	.featherlight{
		.absolutePosition.abbreviation {
		    position: initial;
		    margin-bottom: 0;
		}
	}
}
.featherlight{
	.featherlight-content{
		    position: relative;
		    text-align: left;
		    vertical-align: middle;
		    display: inline-block;
		    overflow: auto;
		    padding: 0rem 0rem 0;
		    /*border-bottom: 25px solid transparent;*/
		    margin-left: 0;
		    margin-right: 0;
		    max-height: 100%;
		    background: #fff;
		    cursor: auto;
		    white-space: normal;
		    height: 100%;
		    width: 100%;
	}
	&:before{
		display: none;
	}
	.absolutePosition{
		display: block;
	}
	.featherlight-close{
		display: none;
	}
	.closePopin{
		position:absolute;
		top: 1.5rem;
		right: 1.5rem;
		color:#b1a0d3;
		text-transform: uppercase;
		font-size: 1.1rem;
		padding-right:2.5rem;
		height: 2.5rem;
	    line-height: 2.5rem;
	    cursor: pointer;
		span{
			&:after{
				content:"";
				width: 2.1rem;
				height: 2.1rem;
				display: block;
				background-image:url('img/closePopin.png');
				background-size:100%;
				background-repeat:no-repeat;
			    position: absolute;
			    right: 0;
			    top: 50%;
			    transform: translateY(-50%);
			}
		}
	}
}
.lightbox{
	display:none;
	height:100vh;
	&.featherlight-inner{
		min-width: 100%;
		max-height: 100%;
		position: absolute;
	}
	.container{
		margin-top: inherit;
		transform: none;
		padding-top: 4rem;
	}
	&#popinQuiz{
		background-image: url('img/bgdDiagnostic_white.jpg?1234');
        background-size:cover;
        form{
        	margin-bottom: 20px;
        }
        p.quizAnswer{
        	span{
        		text-transform: uppercase;
        		font-weight: 700;
        		line-height: 3rem;
        		&.rightAnswer{
					color: #00b2a8;
        		}
				&.wrongAnswer{
					color: #d50b5c;
        		}
        	}
        }
	}
	&#popinReferences .absolutePosition{
		position: fixed;
	    left: 0 !important;
	}
}
